BACKVAULT_LISTEN=:8080
BACKVAULT_DATA_DIR=/var/lib/backvault
BACKVAULT_WORK_DIR=/var/lib/backvault/work
BACKVAULT_MASTER_KEY_FILE=/var/lib/backvault/master.key
BACKVAULT_BASE_URL=https://backvault.example.com
BACKVAULT_LOG_LEVEL=info
BACKVAULT_LOG_FORMAT=json
BACKVAULT_TRUSTED_PROXIES=127.0.0.1,::1
BACKVAULT_METRICS_TOKEN=
BACKVAULT_ADMIN_EMAIL=
BACKVAULT_ADMIN_PASSWORD=
TZ=UTC
