[Unit]
Description=Backvault backup manager
Documentation=https://github.com/arthurr0/backvault
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=backvault
Group=backvault
DynamicUser=no
WorkingDirectory=/var/lib/backvault
EnvironmentFile=-/etc/backvault/backvault.env
ExecStart=/usr/local/bin/backvault serve --config /etc/backvault/backvault.yaml
Restart=on-failure
RestartSec=5s
TimeoutStopSec=30s
KillSignal=SIGTERM
LimitNOFILE=65535
UMask=0077

NoNewPrivileges=yes
ProtectSystem=strict
ProtectHome=yes
ReadWritePaths=/var/lib/backvault
ReadOnlyPaths=/etc/backvault
PrivateTmp=yes
PrivateDevices=yes
ProtectProc=invisible
ProcSubset=pid
ProtectClock=yes
ProtectHostname=yes
ProtectKernelLogs=yes
ProtectKernelModules=yes
ProtectKernelTunables=yes
ProtectControlGroups=yes
RestrictAddressFamilies=AF_INET AF_INET6 AF_UNIX
RestrictNamespaces=yes
RestrictRealtime=yes
RestrictSUIDSGID=yes
LockPersonality=yes
MemoryDenyWriteExecute=yes
CapabilityBoundingSet=
AmbientCapabilities=
SystemCallArchitectures=native
SystemCallFilter=@system-service
SystemCallErrorNumber=EPERM

[Install]
WantedBy=multi-user.target
