BACKVAULT_URL=https://backvault.example.com
BACKVAULT_TOKEN=bvt_replace_me
BACKVAULT_JOB=
BACKVAULT_TO=backvault
BACKVAULT_COMPRESS=auto
BACKVAULT_COMPRESS_LEVEL=
BACKVAULT_ENCRYPT=none
BACKVAULT_PASSPHRASE_FILE=
BACKVAULT_TMPDIR=/var/tmp
BACKVAULT_RETRIES=5
BACKVAULT_RETRY_DELAY=5
BACKVAULT_TIMEOUT=3600
BACKVAULT_DEBUG=0

S3_ENDPOINT=
S3_REGION=us-east-1
S3_BUCKET=
S3_PREFIX=
S3_ACCESS_KEY=
S3_SECRET_KEY=
S3_PATH_STYLE=auto
S3_STORAGE_CLASS=
S3_SSE=
S3_METHOD=auto
S3_RETRIES=3

SFTP_HOST=
SFTP_PORT=22
SFTP_USER=
SFTP_KEY=/etc/backvault/sftp_key
SFTP_PASSWORD_FILE=
SFTP_BASE_PATH=backups
SFTP_KNOWN_HOSTS=/etc/backvault/known_hosts
SFTP_HOST_KEY_CHECKING=yes
SFTP_MODE=sftp
SFTP_RETRIES=3

PGHOST=
PGPORT=5432
PGUSER=
PGDATABASE=
PGSSLMODE=
